@use "./main.scss";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: main.$bg-dark;
  opacity: 0.6;
  z-index: 2;
}
dialog {
  z-index: 3;
  position: fixed;
  border-radius: 10px;
  top: 0;
  bottom: 0;
  padding: 1rem;
  color: main.$fg;
  background-color: main.$bg;
}
.dialog > h1 {
  margin: 0;
  font-size: 2.3rem;
}

.button_div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  svg {
    width: 35px;
  }
  button {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    min-width: 180px;
    background-color: main.$blue;
    color: main.$bg;
    gap: 0.5rem;
    h3 {
      flex-grow: 1;
    }
  }
}
.message {
  display: flex;
  align-items: center;
  p {
    font-size: 1.1rem;
    max-width: 40ch;
  }
  img {
    width: 180px;
  }
}

@media screen and (max-width: 650px) {
  .message > p {
    font-size: 1rem;
  }
  .dialog > h1 {
    font-size: 2rem;
  }
  .message {
    flex-direction: column;
  }
}
